// General Style applied to the whole website.

img {
  display: block;
  margin: 10px auto auto;
  max-width: 90%;
}

img[logo] {
  filter: brightness(1.6);
  max-width: 360px;
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;

  figcaption {
    font-style: italic;
  }
}

// Style used for Pierce Design Tool
.flex {
  display: flex;
  flex-wrap: wrap;
}

.input {
  align-items: flex-start;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;

  input {
    margin: 5px 10px 15px 0;
    max-width: 400px;
    min-width: 150px;
    width: 45%;
  }
}