img {
  display: block;
  margin: auto;
  max-width: 250px;
}

img[logo] {
  filter: brightness(1.6);
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;

  figcaption {
    font-style: italic;
  }
}
