img {
  display: block;
  margin: 10px auto auto;
  max-width: 90%;
}

img[logo] {
  filter: brightness(1.6);
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;

  figcaption {
    font-style: italic;
  }
}
