<h2>Crystal Parameters</h2>
<div class="flex">
    <div class="input">
        <label for="shuntCapacitance">Shunt Capacitance</label>
        <input id="shuntCapacitance" type="number" placeholder="pF"/>
    </div>
    <div class="input">
        <label for="seriesResistance">Series Resistance</label>
        <input id="seriesResistance" type="number" placeholder="Ω"/>
    </div>
    <div class="input">
        <label for="fundamentalFrequency">Fundamental Frequency</label>
        <input id="fundamentalFrequency" type="number" placeholder="MHz"/>
    </div>
</div>
<h2>Transistor Parameters</h2>
<div class="flex">
    <div class="input">
        <label for="unityGainBandwidth">Unity Gain Bandwidth (ft)</label>
        <input id="unityGainBandwidth" type="number" placeholder="MHz"/>
    </div>
</div>
<h2>Biasing Circuit</h2>
<div class="flex">
    <div class="input">
        <label for="voltageSupply">Voltage Supply</label>
        <input id="voltageSupply" type="number" placeholder="V"/>
    </div>
    <div class="input">
        <label for="baseOneResistance">Base Resistance (R1)</label>
        <input id="baseOneResistance" type="number" placeholder="Ω"/>
    </div>
    <div class="input">
        <label for="baseTwoResistance">Base Resistance (R2)</label>
        <input id="baseTwoResistance" type="number" placeholder="Ω"/>
    </div>
    <div class="input">
        <label for="emitterResistance">Emitter Resistance</label>
        <input id="emitterResistance" type="number" placeholder="Ω"/>
    </div>
    <div class="input">
        <label for="collectorResistance">Collector Resistance</label>
        <input id="collectorResistance" type="number" placeholder="Ω"/>
    </div>
</div>